:root
{
    --main-color: black; 
    --bg-color: black;
    --header-footer-color:blueviolet;
    
    --header-footer-bg:blueviolet;
}



body table
{
    background-color: var(--bg-color);
   
}

body table caption{
    font-size: xx-large;
    text-decoration: white;
    text-align: left;
}
body table{
    text-align: center;    line-height: 50px;    height: 50px;    width:100%;
}
body th
{
    text-align: left;
    color:white;
    background-color: var(--header-footer-color);


}
.LegalTerms
{
    color: white;
}

h1,h2,h3
{
    font:bold 40pt/40pt normal sans-serif ;
    font-variant: normal;
    text-align: left;
    width:100%;
}


body td
{

    color: white;


    font-weight: bold;
    
    
}    

body tr:hover{background-color: rgb(214, 214, 214);}

header,header table

{   border: none;
    background-color: var(--header-footer-color);
    
  
   
    position: static;
}
 header th, header tr:hover
{
    color:var(--bg-color);
    background-color:transparent;
    
}

header  th:hover
{
    
    background-color: rgb(255, 255, 255); 

} 

header table
{
    text-align: center;    line-height: 50px;    height: 50px;    width:100%;
}

p,body
{
    color:white;
    font-family: sans-serif;
    
}

body
{
   background: var(--bg-color); background-image: url(https://i.pinimg.com/originals/3d/08/e0/3d08e03cb40252526fee2036a67f07f1.gif) ;
    background-repeat: repeat;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: medium;
   
      
}

h1 
{
text-transform: uppercase;
}

footer,footer table

{   border: none;
    background-color: var(--header-footer-color);
  
    
    position: static;
}
footer th, footer tr:hover
{
    color: var(--main-color);
    background-color:transparent;
   
}

footer th:hover
{
    
    background-color: rgb(255, 255, 255); 

} 

footer table
{
    text-align: center;    line-height: 50px;    height: 50px;    width:100%;
}


input[type=submit]
{
    background:var(--header-footer-bg);
    color:white;
    border-style:outset;
    border-color:var(--header-footer-color);
    height:50px;
    width:100px;
    font-family:sans-serif;
    font-size: large;
    font-weight: bold;
    text-shadow:none;
}      